<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMTestAutomationSuite">

	<listeners>
		<listener class-name="com.crm.qa.util.ITestListenerTest"/>
		<listener class-name="com.crm.qa.util.RetryTransformer"/>
		<listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG"/>
	</listeners>
  	
  	<test name="FreeCRMLoginPageTestCase">
    	<classes>
     	 	<class name="com.crm.qa.testcases.LoginPageTest"/>
    	</classes>
    </test>
    <test name="FreeCRMHomePageTestCase">
    	<classes>
     	 	<class name="com.crm.qa.testcases.HomePageTest"/>
    	</classes>
    </test>
    <test name="FreeCRMContactsPageTestCase">
    	<classes>
     	 	<class name="com.crm.qa.testcases.ContactsPageTest"/>
    	</classes>
    </test>
    
</suite> <!-- Suite -->
